<!--start section header-->
<header class="header-section-default header-main splash-header nav-left z-index-front">
    <div class="header-mobile visible-sm visible-xs">
        <div class="container">
            <!--start mobile nav-->
            <div class="mobile-nav">
                <span class="nav-trigger"><i class="fa fa-navicon"></i></span>
                <div class="nav-dropdown main-nav-dropdown"></div>
            </div>
            <!--end mobile nav-->
            <div class="header-logo">
                <a href="#"><img src="images/logo-houzez-white.png" alt="logo"></a>
            </div>
            <div class="header-user">
                <div class="user">
                    <a href="#" data-toggle="modal" data-target="#pop-login"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs clearfix">
        <div class="header-left">
            <!-- <div class="logo"><a href="index.html"><img src="images/logo-houzez-white.png" alt="logo"></a></div> -->
        </div>
        <div class="header-right">
            <div>
                <a href="#" data-toggle="" data-target="#pop-login">Sign In / Register</a>
                <a href="#" class="btn btn-default">Create Listing</a>
            </div>
        </div>
    </div>
</header>
<!--end section header-->
