 <!-- Header -->
 <header class="header" id="header">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-1 col-sm-2">
             <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
             </div>
             <!-- Header Logo -->
             <a class="header__block header__brand" href="#">
                <%= image_tag("styleguide/logo.png", alt: "API UI logo")%>
             </a>
             <!-- End Header Logo -->
          </div>
          <div class="col-lg-11 col-sm-10 hidden-xs">
             <div class="header__nav">
                <div class="header__nav--left">
                   <ul class="dx-nav-0 dx-nav-0-docs">
                      <li class="dx-nav-0-item ">
                         <a class="dx-nav-0-link" href="javascript:void(0);">Design System</a>
                      </li>
                      <li class="dx-nav-0-item">
                         <a class="dx-nav-0-link" href="javascript:void(0);">Marketing</a>
                      </li>
                      <li class="dx-nav-0-item ">
                        <a class="dx-nav-0-link" href="javascript:void(0);">Developer Guide</a>
                      </li>
                      <li class="dx-nav-0-item dx-nav-active">
                         <a class="dx-nav-0-link" href="javascript:void(0);">Pattern Library</a>
                      </li>
                      <li class="dx-nav-0-item ">
                         <a class="dx-nav-0-link" href="javascript:void(0);">Component Library</a>
                      </li>
                   </ul>
                   <!-- <form class="header__search dx-form-search" id="siteSearch" name="search" method="get">
                      <label class="sr-only" for="siteQ">Enter search term</label>
                      <input class="dx-search-input" id="siteQ" name="q" type="search" value="" placeholder="Search">
                      <span class="button-search fa fa-search"></span>
                   </form> -->
                </div>
                <div class="header__nav--right">
                   <ul class="dx-nav-0 dx-nav-0-tools">
                      <li class="dx-nav-0-item ">
                         <a class="dx-nav-0-link link-with-img" href="javascript:void(0);">
                            <%= image_tag("styleguide/icons/github-light.png")%>
                            <%= image_tag("styleguide/icons/github.png")%>
                         </a>
                      </li>
                   </ul>
                   <div class="dx-auth-block">
                      <div class="dx-auth-logged-out">
                         <a class="dx-auth-login dx-btn dx-btn-outline" data-js="auth-btn" href="javascript:void(0);"
                            data-dxa="login,nav-click,nav-login">Have Feedback or Questions?</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>