<div class="header-media">
    <div id="banner-module" class="houzez-module banner-module ">
        <div class="container-fluid">
            <div class="row  ">
                <div class="col-sm-12 no-padding">
                    <div id="banner-slider" class="owl-carousel owl-theme banner-slider">
                        <div class="item">

                            <div class="overlay"></div>
                            <div class="caption z-index-front">
                                <div class="feature-label">Featured</div>
                                <a href="#" class="btn btn-primary btn-detail">Details <i class="fa fa-angle-right"></i></a>
                                <div class="item-body">
                                    <div class="body-left">
                                        <div class="price">
                                            <h3>$00.00</h3><p class="rant">Starting at</p>
                                        </div>
                                        <div class="info-row">
                                            <h2 class="property-title"><a href="#">Keyword Category</a></h2>
                                            <h4 class="property-location">Details</h4>
                                        </div>
                                        <div class="info-row amenities">
                                            <p><span>City, Country</span><span>info</span><span>info</span></p>                                                <p>Category</p>
                                        </div>
                                        <div class="info-row date">
                                            <!-- <p><i class="fa fa-user"></i> <a href="#">Brittany Watkins</a></p>
                                            <p><i class="fa fa-calendar"></i>List Date</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%= image_tag("stock/3.jpg", alt: "Banner Image") %>
                        </div>
                        <div class="item">
                            <div class="caption z-index">
                                <div class="feature-label">Featured</div>
                                <a href="#" class="btn btn-primary btn-detail">Details <i class="fa fa-angle-right"></i></a>
                                <div class="item-body">
                                    <div class="body-left">
                                        <div class="price">
                                            <h3>$450,000</h3><p class="rant">$2,800/mo</p>
                                        </div>
                                        <div class="info-row">
                                            <h2 class="property-title"><a href="#">Modern apartment</a></h2>
                                            <h4 class="property-location">S Exchange Ave</h4>
                                        </div>
                                        <div class="info-row amenities">
                                            <p><span>Beds: 4</span><span>Baths: 2</span><span>Sq Ft: 1200</span></p>                                                <p>Apartment</p>
                                        </div>
                                        <div class="info-row date">
                                            <p><i class="fa fa-user"></i> <a href="#">Brittany Watkins</a></p>
                                            <p><i class="fa fa-calendar"></i>4 months ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%= image_tag("stock/7.jpg", alt: "Banner Image", class: "overlay") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end banner module-->