<!-- Blockquotes mobile menu -->
<div id="mobile-menu">
 <div class="mobile-menu-inner">
    <ul>
       <li>
          <div class="mm-search">
             <form id="search1" name="search">
                <div class="input-group">
                   <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
                   <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
                   </div>
                </div>
             </form>
          </div>
       </li>
       <li>
          <a href="#documenter-1">Page links</a>
          <ul>
             <li><a href="#documenter-1">API Reference</a> </li>
             <li><a href="#documenter-2">Authentication </a> </li>
             <li>
                <a href="#documenter-3">Errors </a>
                <ul>
                   <li><a href="#documenter-3-1">Handling errors</a></li>
                </ul>
             </li>
             <li><a href="#documenter-4">Expanding Objects</a> </li>
             <li><a href="#documenter-5">Idempotent Requests</a> </li>                     
          </ul>
       </li>
    </ul>
    <div class="top-links">
       <ul class="links">
          <li><a title="Docs" href="javascript:void(0)">Docs</a> </li>
          <li><a title="API Reference" href="javascript:void(0)">API Reference</a> </li>
          <li><a title="Support" href="javascript:void(0)">Support</a> </li>
          <li><a title="Dashboard" href="javascript:void(0)">Dashboard</a> </li>
          <li class="last"><a title="Login" href="javascript:void(0)">Login</a> </li>
       </ul>
    </div>
 </div>
</div>


