<!-- end header -->
<!-- header service -->
<div class="header-section-wrapper">
  <div class="header-section header-section-example">
     <div id="language">
        <ul class="language-toggle">
           <li>
              <input type="radio" class="language-toggle-source" name="language-toggle" id="toggle-lang-curl" data-language="curl" checked="checked">
              <label for="toggle-lang-curl" class="language-toggle-button language-toggle-button--curl">HTML</label>
           </li>
           <li>
              <input type="radio" class="language-toggle-source" name="language-toggle" id="toggle-lang-ruby" data-language="ruby">
              <label for="toggle-lang-ruby" class="language-toggle-button language-toggle-button--ruby">CSS/SASS</label>
           </li>
           <li>
              <input type="radio" class="language-toggle-source" name="language-toggle" id="toggle-lang-python" data-language="python">
              <label for="toggle-lang-python" class="language-toggle-button language-toggle-button--python">Version Control</label>
           </li>
           <li>
              <input type="radio" class="language-toggle-source" name="language-toggle" id="toggle-lang-php" data-language="php">
              <label for="toggle-lang-php" class="language-toggle-button language-toggle-button--php">Design Guidelines</label>
           </li>
           <li>
              <input type="radio" class="language-toggle-source" name="language-toggle" id="toggle-lang-java" data-language="java">
              <label for="toggle-lang-java" class="language-toggle-button language-toggle-button--java">Implementation Notes</label>
           </li>
        </ul>
     </div>
  </div>
</div>
<!-- End header service -->